<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="repositoryMappingsConfiguration" type="SmartCA.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, SmartCA.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="entityMappingsConfiguration" type="SmartCA.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, SmartCA.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  
  <dataConfiguration defaultDatabase="SmartCA" />
  
  <connectionStrings>
    <add name="SmartCA" connectionString="Data Source=SmartCA.sdf" providerName="System.Data.SqlServerCe.3.5" />
  </connectionStrings>

  <appSettings>
    <add key="ExpectedProposalRequestContractorReturnDays" value="5" />
  </appSettings>
  
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IProjectRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IEmployeeRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.EmployeeRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICompanyRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.CompanyRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IContactRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ContactRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ISubmittalRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.SubmittalRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRequestForInformationRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.RequestForInformationRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IClientTransactionRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.SqlCeClientTransactionRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IReferenceDataRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.SqlCeReferenceDataRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IProposalRequestRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ProposalRequestRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IChangeOrderRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ChangeOrderRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IConstructionChangeDirectiveRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ConstructionChangeDirectiveRepository, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IClientMembershipProvider" repositoryFullTypeName="SmartCA.Infrastructure.Membership.Providers.SqlCeClientMembershipProvider, SmartCA.Infrastructure.Membership.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  
  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityShortTypeName="Project" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Employee" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.EmployeeFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Company" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.CompanyFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MarketSegment" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.MarketSegmentFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Contact" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ContactFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Submittal" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.SubmittalFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="RequestForInformation" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.RequestForInformationFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="ClientTransaction" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ClientTransactionFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="ProposalRequest" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ProposalRequestFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="ChangeOrder" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ChangeOrderFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="ConstructionChangeDirective" entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ConstructionChangeDirectiveFactory, SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="User" entityFactoryFullTypeName="SmartCA.Infrastructure.Membership.Providers.UserFactory, SmartCA.Infrastructure.Membership.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </entityMappings>
  </entityMappingsConfiguration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
